
TravelExpertsWebApp/.vs/TravelExpertsWebApp/v15/.suo
TravelExpertsWebApp/.vs/TravelExpertsWebApp/v15/Server/sqlite3/storage.ide-shm
TravelExpertsWebApp/.vs/TravelExpertsWebApp/v15/Server/sqlite3/storage.ide-wal
TravelExpertsWebApp/.vs/config/applicationhost.config
